extends ../layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/transactions') Transactions
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/transactions/create') Create Transaction 
                li.nav-item
                    a.nav-link(href='/books') Back 
    br
    .container
        if errors
            each error in errors
                .alert.alert-danger= error

        form.form-inline(action='/transactions/search', method='get')
            input.form-control.mr-2(type='text', name='name', value=inputSearch ? inputSearch : '', placeholder='Search transaction')
            input.btn.btn-outline-primary(type='submit', value='Search')
        br
        table.table.table-bordered(style='width:100%')
            tr
                th 
                th User
                th Book 
                th Status
            - var i=1;
            each transaction in transactions
                tr
                    td= i++
                    td=transaction.user.name
                    td=transaction.book.name
                    td
                        if transaction.isComplete
                            button.btn.btn-outline-secondary(disabled) Complete
                        else 
                            form(action=`/transactions/${transaction.id}/complete`, method="get")
                                button.btn.btn-outline-success(type='submit') Complete
